@charset "UTF-8";

/* Menu - cabecalho */

body {
    overflow-x: hidden;
}

nav ul li {
    display: inline-block;
    font-family: open-sans, sans-serif;
    font-style: bold;
    font-size: 20px;
    font-weight: 600;
    color: white;
}

nav ul li a {
    text-decoration: none;
    padding: 30px 50px;
    color: white;
}

nav ul li a:hover {
    color: #FFCC47;
}


/*novo */

#titulo_atributos {
    font-family: open-sans, sans-serif;
    font-size: 20px;
    color: #1F996C;
}
#titulo_secoes {
    margin: 0px auto;
    width: 50%;
    padding: 1px;
}
#titulo_secoes h4 {
    font-family: open-sans, sans-serif;
    font-size: 22px;
    color: black;
}
section #atributos_colecoes {
    background-color: white;
    text-align: center;
    font-family: open-sans, sans-serif;
    font-size: 16px;
}
#atributos_colecoes ul {
    list-style-type: none;
    text-align: center;
    margin-right: 40px
}
#atributos_colecoes li {
    text-align: center;
    margin: 10px;
}
section #atributos_atividades {
    background-color: white;
    text-align: center;
    font-family: open-sans, sans-serif;
    font-size: 16px;
}
#atributos_atividades ul {
    list-style-type: none;
    text-align: center;
    margin-right: 40px
}
#atributos_atividades li {
    text-align: center;
    margin: 10px;
}

.museus_destaque {
    font-size: 20px;
    text-align: center;
    font-weight: 400
}

.card-title {
    margin-bottom: auto;
    min-height: 60px;
}

/*  Busca */


#Busca{
    height: 100%;
    margin: 0;
    padding: 0;
    background: rgb(15, 140, 95) !important;
}

.searchbar, #search_op{
        margin-bottom: 10px;
        margin-top: 80px;
        margin-right: 10px;
        height: 60px;
        background-color: #353b48;
        border-radius: 30px;
        padding: 10px;
        color: white;
}

.searchbar p {
    color: black;
    margin-left: 10px;
    margin-bottom: 0px;
}

.searchbar .in_2 {
    margin-left: 93px;
       
}

.search_input {
        color: white;
        border: 0;
        margin-bottom: 10px;
        outline: 0;
        background: none;
        width: 0;
        caret-color:transparent;
        line-height: 40px;
        transition: width 0.4s linear;
 }

.searchbar > .search_input{
        padding: 0 10px;
        width: calc(100% - 40px);
        caret-color:white;
        transition: width 0.4s linear;
}

.searchbar:hover > .search_icon{
    text-decoration: none;
    background: #FFCC47;
    color: #1F996C;
}

.search_icon {
        height: 40px;
        width: 40px;
        float: right;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        color:#353b48;
}

#icon_busca{
    height: 20px;
    width: 20px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.nav a {
    color: #aeaeae;
}

.form_busca {
    margin-top: 50px;
    margin-bottom: 150px;
    text-align: center;
}

#text_busca_form {
    margin-top: 70px;
    margin-bottom: 1rem;
    text-align: center;
    font-size: 30px;
}

#museuAtributo {
    display: inline;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}

#colecaoAtributo {
    display: inline;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}

#atividadeAtributo {
    display: inline;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}


/* museu */

#Titulo{
    color: black;
    font-family: open-sans, sans-serif;
    font-weight: bold;
    font-size: 25px;
    margin-top: 20px;
}

#Titulo_filtro{
    color: black;
    font-family: open-sans, sans-serif;
    font-weight: bold;
    font-size: 20px;
}


#nome_museu{
    font-family: open-sans, sans-serif;
    font-size: 25px;
    color: black;
}


#nome_museu a{
    color: black;
    text-decoration: none;
}
#nome_museu a:hover {
    color: #FFCC47;;
}

#botao_edicao{
    background-color: #1F996C;
    color: white;
    font-family: open-sans, sans-serif;
    font-weight: bold;
}
#botao_edicao:hover{
   color: #FFCC47;
}


#titulo_atributos {
    font-family: open-sans, sans-serif;
    font-size: 20px;
    color: #1F996C;
}

#titulo_secoes {
    margin: 0px auto;
    width: 50%;
    padding: 1px;
}

#titulo_secoes h4 {
    font-family: open-sans, sans-serif;
    font-size: 22px;
    color: black;
}

#list-item-1, #list-item-2, #list-item-3{
    color: green;
    font-family: open-sans, sans-serif;
    font-size: 25px;
    width: 50%;
    font-weight: bold;
}

/* #helperPage {
    display: hidden;
} */

#list-example{
    margin-top: 140px;
}

#main_museu{
    margin-left: 150px;
}

/* Sobre */

#museu_sobre {
    margin: 0 auto;
    text-align: center;
    width: 50%;
}

#paragrafo_sobre {
    border: 1px solid #1F996C;
    border-radius: 40px;
    margin-top: 40px;
}
#museu_sobre_img {
    margin-top: 25px;
}

#museu_sobre h1 {
    margin: 20px;
    font-size: 30px;
} 

#museu_sobre p {
    text-align: justify;
    margin: 20px;
} 

/* Footer */

footer {
    text-align: center;
    width: 100%;
    min-height: 16.5rem;
    background-color: #434343;
    color: white;
}

footer #rodape_info {
    float: left;
    width: 25%;
    margin: 20px 40px;
}

footer #titulo_rodape {
    font-family: open-sans, sans-serif;
    font-weight: bold;
    font-size: 16px;
}

footer #texto_rodape {
    color: white;
    font-family: open-sans, sans-serif;
    font-size: 14px;
}

footer #rodape_mapa {
    float: left;
    width: 20%;
}

footer #rodape_mapa {
    float: left;
    width: 20%;
}

footer ul,
menu,
dir {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}

footer #mapa_link {
    list-style-type: none;
    margin-top: 20px;
    text-decoration: none;
    text-align: center;
    font-family: open-sans, sans-serif;
    font-size: 14px;
}

.mapa_link a {
    text-decoration: none;
    color: #b2b2b2;
    padding: 20px;
}

footer #rodape_equipe {
    float: left;
    width: 20%;
}

.p_equipe {
    color: #b2b2b2;
    text-align: center;
    font-family: open-sans, sans-serif;
    font-size: 14px;
    list-style-type: none;
}

#rodape_logos {
    float: right;
    width: 25%;
    height: 100%;
    padding: 0;
}

#logo_dcomp {
    display: block;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
    max-width: 30%;
    max-height: 30%;
}

#logo_ufscar_rodape {
    width: 30%;
    height: 30%;
}